@charset "UTF-8";

/* Typical Device breakpoints
------------------------------
Telas Pequenas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: + de 1200px
*/

@media screen and (min-width: 300px) and (max-width:600px){

    div.todo input{
        font-size: 18px;
    }

    div.done input{
        font-size: 18px;
    }
    
    button{
        width: 40px; 
    }
}


/*Celular: 600px até 768px*/
@media screen and (min-width: 500px) and (max-width: 768px){

    main{
        width: 70%;
    }

    div.todo input{
        width: 100%;
        font-size: 18px;
    }

    div.done input{
        width: 100%;
        font-size: 18px;
    }
    
    button{
        width: 40px; 
    }
}

/*Tablet: 768px até 992px*/
@media screen and (min-width: 769px) and (max-width: 992px){

    main{
        width: 60%;
    }

    h1{
        font-size: 40px;
    }

    div.todo input{
        width: 100%;
        font-size: 20px;
    }

    div.done input{
        width: 100%;
        font-size: 20px;
    }

    button{
        width: 40px; 
    }
}

/*Desktop: 993px até 1200px*/
@media screen and (min-width: 993px) and (max-width: 1200px){
    main{
        width: 700px;
    }

    h1{
        font-size: 40px;
    }

    div.todo input{
        width: 100%;
        font-size: 25px;
    }
    div.done input{
        width: 100%;
        font-size: 25px;
    }

    button{
        width: 40px; 
    }
}

/*Grandes telas: + de 1200px*/
@media screen and (min-width: 1201px){
    main{
        /*border: red solid 3px;*/
        width: 700px;
    }

    h1{
        font-size: 3rem;
    }

    div.todo input{
        width: 100%;
        font-size: 25px;
    }
    div.done input{
        width: 100%;
        font-size: 25px;
    }

    button{
        width: 40px; 
    }
}